body {
    font-family: serif;
}
img{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
}
}
h1 {
       background: gray;
    padding: 20px;
    border: double;
    width: 105px;
}
p {
     margin-bottom: 1.25em;
   }
.index {
    position: static !important;
    width: 100%;
    height: auto;
    clip: inherit;
    overflow: visible;
        margin-bottom: .5em;
}
      ul
{
   padding-top: 75px;
    padding-left: 230px;
}
    main {
        margin: 0 auto;
        max-width: 960px;
         }

footer {
  background: gray;
    padding: 10px;
    border: double;
}
