body {
   background: skyblue;
    border: double;
    padding: 25px;
    margin: 25px;
    font-family: serif;
}
img {
    border: double;
    padding: 15px;
    background: gray;
   p {
      background: gray;
    padding: 10px;
    border: double;
   }
      
.menu {
  background: gray;
    border: double;
    width: 110px;
  }
    main {
            padding: 10px;
    background: gray;
    border: double;
    }
footer {
  background: gray;
    padding: 10px;
    border: double;
}
