img {
  background: grey;
  padding: 50px;
  border: 25px;
  }
ul {
  border: 2px red;
}
li {
  border: 2px blue;
}
p { 
  border: 2px green;
}
main {
  background : blue;
}
footer {
  background: grey;
}
